/*
    You can add your own custom styles here.
*/
#cusdis_thread iframe {
  min-height: 600px;
  height: auto !important;
  width: 100% !important;
  border: none;
  overflow: hidden;
  display: block;
}